{% extends "base.html" %} {% block content %}
<h2 class="mb-4">
  Admin Dashboard <small class="text-muted">(Maintenance Dept)</small>
</h2>

<div class="card shadow">
  <div class="card-body">
    <table class="table table-hover">
      <thead class="table-dark">
        <tr>
          <th>ID</th>
          <th>Category</th>
          <th>Description</th>
          <th>Matric No</th>
          <th>Status</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for c in complaints %}
        <tr>
          <td>{{ c.id }}</td>
          <td>{{ c.category }}</td>
          <td>{{ c.description }}</td>
          <td>{{ c.user_id }}</td>
          <td>
            <span
              class="badge {% if c.status == 'Pending' %}bg-warning {% elif c.status == 'In Progress' %}bg-info {% else %}bg-success{% endif %}"
            >
              {{ c.status }}
            </span>
          </td>
          <td>
            <a
              href="{{ url_for('update_status', complaint_id=c.id, status='In Progress') }}"
              class="btn btn-sm btn-info"
              >Start</a
            >
            <a
              href="{{ url_for('update_status', complaint_id=c.id, status='Resolved') }}"
              class="btn btn-sm btn-success"
              >Resolve</a
            >
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}
